* {

  padding: 0;
  margin: 0;

}

body {

  background-color: #ffffff;

}

#root {

  --roxo: #5829FA;
  --azulEscuro: #02004D;
  --azulClaro: #007AFF;
  --laranja: #FF8A00;

}

.header-container-download {

  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #191919;

}

.header-container-download .img-logo {

  width: 4rem;
  cursor: pointer;

  &:hover {

    color: white;
    filter: drop-shadow(2px 1px 5px #FF8A00);
    transition: 1s;

  }

}

.header-container-download ul {

  color: rgb(255, 255, 255);
  flex-direction: row;

}

.header-container-download .nav-items {

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

}

.header-container-download .nav-items hr {

  height: .8rem;

}

.header-container-download .nav-items a {

  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  cursor: pointer;

  &:hover {

    color: #FF8A00;
    filter: drop-shadow(2px 1px 5px #FF8A00);
    transition: 1s;

  }

}

.header-container-download .side-right {

  display: flex;
  align-items: center;
  gap: 5rem;

}

.header-container-download .side-right .btn-logar {

  height: 2rem;
  width: 6rem;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 300;

  &:hover {

    color: var(--laranja);
    background-color: white;
    transition: 1s;

  }

}

.header-container-download .side-right .icon-perfil {

  height: 2.5rem;
  cursor: pointer;

  &:hover {

    filter: drop-shadow(2px 1px 5px #FF8A00);

  }

}

.main-download {

  background: linear-gradient(180deg, #250541 0%, #4F0190 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110rem;
  padding-top: 10rem;

}

::-webkit-scrollbar {
  background: linear-gradient(180deg, #250541 0%, #4F0190 100%);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000f7eb3;
}

#titulo {
  font-size: 6rem;
  width: 100rem;
  text-align: center;
  font-weight: 900;
  background: rgb(79, 45, 246);
  background: linear-gradient(90deg, rgba(79, 45, 246, 1) 0%, rgba(20, 0, 116, 1) 100%);
  background-size: 400% 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  font-family: 'Energy Bold';
  animation: degrade 10s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10rem;
}

.section-video{

  position: relative;

}

.video{

  width: 100vw;
  position: absolute;

}

.download {
  font-size: 70px;
  font-family: 'Energy Bold';
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  background-color: #293776;
  border-radius: 20px;
  border: 5px solid #1a2553;
  padding: 10px;
  margin-top: 23rem;
}

.download h6 {
  font-size: 15px;
  text-align: center;
}

#store {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 75%;
  left: 50%;
  margin-top: 34rem;
}

#store img:hover {
  transform: scale(1.1);
  transition: 1s;
}

@keyframes degrade {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 400%;
  }
}

.comobaixar {

  text-align: center;
  padding-top: 150px;
  color: #fff;
  z-index: 1;
  margin-top: 50rem;


}

.comobaixar h2 {
  font-size: 4rem;
  color: white;
  font-family: 'Energy Bold';
  margin-bottom: 3rem;
}

.comobaixar span {
  font-size: 60px;
  color: #FF8A00;
  font-family: 'Energy Bold';
}

.comobaixar p {
  font-size: 30px;
  font-family: 'Eight One';
}

#indicacao {
  margin-top: 100px;
  margin-bottom: 6.25rem;
  text-align: center;
}

footer {

  height: 60vh;
  width: 100vw;
  background-color: black;

}

.logo-footer{

  width: 25rem;

}

.div-footer-download {

  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;

}

.nav-list-footer{

  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.nav-list-footer a{

  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  
  &:hover {

    transform: scale(1.05);
    transition: .6s;

  }

}

.contatos{

  margin-top: 7rem;

}

.contatos h4,h3{

  color: white;

}

.contatos .telefone, .email, .endereco{

  display: flex;
  gap: 1rem;
  margin-left: 14rem;
  margin-bottom: 2rem;

}

.rede-social{

  display: flex;
  gap: 1rem;
  justify-content: right;
  padding-right: 15rem;
  margin-bottom: 5rem;

}

@media (max-width: 999px) {
  .nav-list {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 12vh;
    right: 0;
    width: 100%;
    height: 85%;
    background: #191919;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .nav-list a {
    font-size: 35px;
    color: white;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    right: 20px;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  .mobile-menu.active .line1 {
    transform: rotate(-40deg) translate(-15px, -3px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(40deg) translate(-19px, -3px);
  }

  .btn {
    display: none;
  }

  .btn2 {
    display: block;
  }

  .logo {
    position: relative;
    left: -5px;
  }

  nav h1 {
    font-size: 40px;
    display: flex;
    color: #fff;
  }

  .logo:hover {
    filter: drop-shadow(0.5px 0.5px 1px #FF8A00);
  }

  a:hover {
    filter: drop-shadow(0.5px 0.5px 1px #FF8A00);
  }

  #contatos {
    flex-direction: column;
  }

  .icon-login {
    display: none;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}